body{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
    background-color: #EEEEEE;
    width: 880px;
    height:auto;
    border-radius: 7px;
    margin: 10px 0;
    padding: 0;
    border: 1px solid deepskyblue;
    box-shadow: 0 0 4px #00bfff;
}

.head {
    width: 90%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    margin: 32px 0 0 13px;
    font-size: 23px;
    font-weight: normal;
}

.head p {
    color: #D8524F;
    font-size: 15px;
    margin: 22px 120px 0 0;
}

.head, form div{
    border-bottom: 1px solid deepskyblue;
}

form{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
}

form>div{
    border: 2px solid red;
    display: flex;
    flex-flow: row nowrap;
    /*justify-content:center;*/
    align-items:center;
    box-sizing: border-box;
    height:65px;
    flex:1 1 500px;
}




/*form{*/
    /*width:90%;*/
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
    /*justify-content:space-between;*/
    /*align-items:stretch;*/
/*}*/

/*form div {*/
    /*height: 66px;*/
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: flex-start;*/
    /*width: 100%;*/
    /*align-items: center;*/
/*}*/

/*form div label {*/
    /*width: 165px;*/
    /*margin: 0 0 0 13px;*/
    /*font-size: 13px;*/
/*}*/

/*form div input {*/
    /*width: 280px;*/
    /*box-sizing: border-box;*/
    /*height: 31px;*/
    /*margin: 16px 0 0 0;*/
    /*transition: width 1s;*/
    /*border: 1px solid #AAAAAA;*/
    /*border-radius: 2px;*/
    /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);*/
/*}*/

/*form div input:focus {*/
    /*width: 310px;*/
    /*border: 2px solid rgb(88, 179, 56);*/
    /*outline-offset: 0;*/
/*}*/

/*form div input:required{*/
    /*background: #fff url("../img/required.png") no-repeat 98% center;*/
    /*box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);*/
/*}*/

/*form div:nth-child(3) input {*/
    /*width: 23px;*/
    /*margin: 10px;*/
    /*border: none;*/
    /*box-shadow: none;*/
/*}*/

/*form div:nth-child(3) span{*/
    /*font-weight:bold;*/
    /*font-size:22px;*/
    /*margin: 0 10px 0 0;*/
/*}*/

/*form div:nth-child(3) span:after {*/
    /*color: #FF0800;*/
    /*content: "*";*/
    /*margin: 0 0 0 5px;*/
/*}*/

/*form div:nth-child(4) input:focus{*/
    /*width:280px;*/
/*}*/

/*form div:nth-child(9){*/
    /*margin:10px 0;*/
    /*height:auto;*/
/*}*/

/*form div:nth-child(9) textarea{*/
    /*margin-bottom:10px;*/
/*}*/

/*form div:last-child input {*/
    /*width: 90px;*/
    /*height: 37px;*/
    /*font-size: 13px;*/
    /*color: white;*/
    /*border: 1px solid #831212;*/
    /*border-radius: 5px;*/
    /*background: #a09ca9;*/
    /*background: -moz-linear-gradient(top, #a09ca9 0%, #a56b73 29%, #a8474b 51%, #881d1d 79%, #831212 100%);*/
    /*background: -webkit-linear-gradient(top, #a09ca9 0%,#a56b73 29%,#a8474b 51%,#881d1d 79%,#831212 100%);*/
    /*background: linear-gradient(to bottom, #a09ca9 0%,#a56b73 29%,#a8474b 51%,#881d1d 79%,#831212 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a09ca9', endColorstr='#831212',GradientType=0 );*/
    /*transition: all 0.5s;*/
/*}*/

/*form div:last-child {*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 0 0 51px 0;*/
/*}*/

/*form div:last-child input:focus{*/
    /*background: #a09ca9;*/
    /*background: -moz-linear-gradient(top, #a09ca9 0%, #a56b73 29%, #a8474b 51%, #881d1d 79%, #831212 100%);*/
    /*background: -webkit-linear-gradient(top, #a09ca9 0%,#a56b73 29%,#a8474b 51%,#881d1d 79%,#831212 100%);*/
    /*background: linear-gradient(to bottom, #a09ca9 0%,#a56b73 29%,#a8474b 51%,#881d1d 79%,#831212 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a09ca9', endColorstr='#831212',GradientType=0 );*/
/*}*/

/*.input_hint {*/
    /*visibility: hidden;*/
    /*width: 290px;*/
    /*font-size: 12px;*/
    /*background-color: crimson;*/
    /*border-radius: 5px;*/
    /*margin: 11px 0 0 9px;*/
    /*padding: 3px;*/
/*}*/

/*.input_hint:before {*/
    /*display: inherit;*/
    /*content: "\25C0";*/
    /*margin: 0 0 0 -15px;*/
    /*color: crimson;*/
    /*font-size: 27px;*/
    /*width: 15px;*/
    /*height: 0;*/
/*}*/

/*form div input:focus + .input_hint{*/
    /*visibility: visible;*/
/*}*/

/*form div input:valid + .input_hint{*/
    /*background-color: #58B338;*/
/*}*/

/*form div input:valid + .input_hint:before{*/
    /*color: #58B338;*/
/*}*/

/*input:focus:valid{*/
    /*background: #fff url("../img/yes.png") no-repeat 98% center;*/
/*}*/

/*input:focus:invalid{*/
    /*background: #fff url("../img/no.png") no-repeat 98% center;*/
/*}*/

/*form div:nth-child(9) span{*/
    /*width: 100px;*/
/*}*/

/*textarea{*/
    /*border-radius: 2px;*/
    /*font-size:14px;*/
    /*resize: none;*/
/*}*/