body{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
}

.wrapper {
    top:15px;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:center;
    background-color: #dbd9d9;
    width: 880px;
    height:auto;
    border-radius: 7px;
    margin: 10px 0 0 0;
    padding: 0;
    border: 1px solid deepskyblue;
}

.head {
    width: 90%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    margin: 32px 0 0 13px;
    font-size: 23px;
    font-weight: normal;
}

.head p {
    color: #D8524F;
    font-size: 15px;
    margin: 22px 120px 0 0;
}

.head, form div{
    border-bottom: 1px solid deepskyblue;
}

form{
    width:90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items:stretch;
}

form div {
    height: 66px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

form div label {
    width: 165px;
    margin: 0 0 0 13px;
    font-size: 13px;
}

form div input {
    width: 280px;
    height: 31px;
    margin: 16px 0 0 0;
}

input:focus:valid{
    background: #fff url("../img/yes.png") no-repeat 98% center;
}

input:focus:invalid{
    background: #fff url("../img/no.png") no-repeat 98% center;
}

textarea{
    resize: none;
}